body.dark {
  background-color: hsl(207, 26%, 17%);
}
body.dark h3 {
  color: #fff;
}
#toggle {
  color: #fff;
  border-radius: 20px;
}
.view-group {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
}
.list-group-item {
  flex: 0 0 100%;
  max-width: 60%;
  border: 0;
}
